:root {
  --bg: #ffffff;
  --prim-text-color: #233332;
  --sec-text-color: white;
  --prim: #1aa39b;
  --prim-hover: #2f9e97;
  --prim-active: #229991;
  --sec: #e49872;
  --sec-hover: #d39475;
  --sec-active: #bd8366;
  --third: #a9a9a9;
  --white: #ffffff;
}
