@import 'reset';
@import 'root';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: var(--bg);
  font-weight: 400;
  font-size: 1.8rem;
  height: 100%;
  font-family: Avenir,
  Helvetica,
  Arial,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c504a;
}

.hidden {
  display: none;
}

p {
  line-height: 1.5;
  font-weight: 400;
  color: #2c504a;
}

strong {
  font-weight: 600;
}

.width {
  width: 90vw;
  max-width: 1400px;
}

.button {
  font-size: 2rem;
  border: none;
  padding: 1rem 2rem;
  text-align: center;

  &--prim {
    background-color: var(--prim);
    color: var(--sec-text-color);

    &:hover {
      background-color: var(--prim-hover);
      cursor: pointer;
    }

    &:active {
      background-color: var(--prim-active);
      cursor: grabbing;
    }
  }
  
  &--sec {
    background-color: var(--sec);
    color: var(--sec-text-color);

    &:hover {
      background-color: var(--sec-hover);
      cursor: pointer;
    }

    &:active {
      background-color: var(--sec-active);
      cursor: grabbing;
    }
  }

  &--inactive {
    background-color: var(--third);
    &:hover {
      background-color: var(--third);
      cursor: default;
    }
    
    &:active {
      background-color: var(--third);
      cursor: default;
    }
  }
}

.input {
  color: var(--sec-hover);
  border: solid .2rem var(--sec);

  &::placeholder {
    color: var(--sec-hover);
    opacity: .5;
  }
  &:focus {
    outline: none;
  }
}

.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--prim);

  & h1 {
    color: var(--sec-text-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
  }

  & .router-link-exact-active {
    text-decoration: underline;
  }
}

.main {
  display: flex;

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.lobby {
  height: 90vh;
  width: 30%;
  padding: 2rem 4rem 2rem 0;
  border-right: solid 1rem var(--prim);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > ul {
    overflow-y: scroll;
    max-height: 70vh;
    padding-right: 1rem;
    
    &::-webkit-scrollbar {
      background-color: var(--bg);
      width: .5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--prim);
      border-radius: 20px;
    }
  }

  & .actieve_speler {

    & > p {
      position: relative;
      color: var(--prim);
    }
    
    & :first-child::before {
      position: absolute;
      left: -2rem;
      width: 1rem;
      height: 1rem;
      content: url(./assets/stip.svg);
    }
  }

  & .speler {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    padding: 1rem 0 .5rem 2rem;
    border-bottom: solid 2px var(--prim);

    & :last-child {
      grid-column: 3;
      text-align: end;
    }

    & :first-child {
      grid-column: 1;
      text-align: start;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    & > .button {
      font-size: 1.6rem;
    }
  }
}

.gameview{

  &__wrap {
    width: 70%;
    height: 90vh;
    padding: 2rem 0 2rem 2rem;
  }
}

.party {
  &__wrap {
    width: 100%;
    height: 90vh;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 0;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 90vh;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: initial;
    width: 50%;
  }
  & input {
    margin-bottom: 1rem;
  }

  &--pt2 {
    padding: 30vh 0;
  }
}

@keyframes move {
  from {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}

.home {
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 5vh auto 10vh;
  padding: 2rem 0;

  &__player-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__player {
      width: 11rem;
      min-height: 10vh;
      text-align: center;
      margin: 2rem;
      // padding: .5rem .5rem 0;
      border-bottom: solid .2rem var(--prim);

      &__img {
        position: relative;
        margin-top: 1rem;
        
        &>img {
          width: 100%;
          height: 11rem;
          object-fit: cover;
          border-radius: 100%;
          border: solid .2rem var(--sec);
          animation: move 7s 1s linear infinite;
        }
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: var(--sec);
          opacity: .5;
          left: -1rem;
          top: -.5rem;
          border-radius: 100%;
          z-index: -1;
          animation: move 5s .5s linear infinite reverse;
        }
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: var(--sec);
          // border: solid .3rem var(--sec);
          opacity: .5;
          left: -.3rem;
          top: -1rem;
          border-radius: 100%;
          z-index: -1;
          animation: move 4s 1.5s linear infinite;
        }
      }
    }
  }

  &__game-options {
    // margin-top: 5rem;

    & > ul {
      margin-top: 2rem;
    }

    &__button {

      &:first-child {
        margin-right: 2rem;
      }
    }
  }
}

.pietjesbak {
  text-align: center;
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  gap: 2rem;
  align-items: center;

  &__stenen {
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    gap: 2vh;

    &__head {
      display: flex;
      justify-content: space-between;
    }

    &__rij {
      display: flex;
      align-items: flex-start;

      & > .dobbelsteen {
        margin-right: 2rem;
      }

      &__wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: solid .2rem var(--third);
      }
    }

    &__gooi {
      width: 30%;
      padding: 2rem;
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__data {
      color: var(--prim);
      text-align: center;

      &__extra {
        text-align: end;
      }

      &__wrap {
        display: grid;
        grid-template-columns: 40% auto 40%;
        width: 70%;
        padding: 1rem;
        border: solid .15rem var(--third);
        margin-bottom: 2rem;

        & :first-child {
          text-align: start;
        }
      }
    }
  }

  &__step-button {
    width: 30%;
    min-width: 25rem;

    &__wrap {
      justify-self: center;
    }
  }
}

.dobbelsteen {
  padding: 2rem 2.5rem;
  border: solid 2px var(--sec);
  color: var(--sec);
  text-align: center;

  &:hover, :active {
    cursor: pointer;
  }
}
